# optional openapi spec
openapi: 3.0.0
info:
  title: Yonote API
  description: |
    # Introduction

    The Yonote API follows an RPC style that lets you interact with Yonote and
    manage knowledge-base data just like the main application (which is built on
    the same API).

    The API structure is described with an OpenAPI specification available as
    [yml](https://yonote.ru/openapi-3.yml) or
    [json](https://yonote.ru/openapi-3.json).

    # Making requests

    Each endpoint maps to a method at `https://app.yonote.ru/api/method`.
    `GET` and `POST` are supported, but we recommend always using `POST`.
    Requests are served over HTTPS and return JSON data.

    For `POST` requests include a **Content-Type** header. To send JSON payloads
    use **Content-Type: application/json**. Example with CURL:

    ```
    curl https://app.yonote.ru/api/documents.info \
      -X POST \
      -H 'authorization: Bearer MY_API_KEY' \
      -H 'content-type: application/json' \
      -H 'accept: application/json' \
      -d '{"id": "yonote-api-DLSdsdssSD"}'
    ```

    Or with JavaScript:

    ```javascript
    const response = await fetch("https://app.yonote.ru/api/documents.info", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
        Authorization: 'Bearer MY_API_KEY'
      }
    })

    const body = await response.json();
    const document = body.data;
    ```

    # Authentication

    Obtain an API key from the [settings page](https://app.yonote.ru/settings).

    **Warning: API keys grant full access to your documents. Treat them like passwords!**

    Send the key in the `Authorization` header (`Authorization: Bearer YOUR_API_KEY`)
    or as `token=YOUR_API_KEY` in the request parameters. Headers are preferred.

    Some endpoints allow unauthenticated access (for example to public resources)
    and can be queried without an API key.

    # Errors

    Successful requests return status code 200 or 201 with body `{ "ok": true }`.
    If an error occurs an appropriate HTTP status code is returned with a body
    similar to:

    ```
    {
      "ok": false,
      "error": "Not Found"
    }
    ```

    # Pagination

    Most API resources provide a `list` method (e.g. users, documents,
    collections) that accepts `limit` and `offset` parameters.

    Each response includes a `pagination` object containing the supplied
    parameters and a `nextPath` field for fetching the next page. Example:

    ```
    {
      ok: true,
      status: 200,
      data: […],
      pagination: {
        limit: 25,
        offset: 0,
        nextPath: "/api/documents.list?limit=25&offset=25"
      }
    }
    ```

    # Policies

    Many resources are associated with "policies" describing what an API key can
    access. A policy's `id` matches the resource it references and policies do
    not have unique identifiers.

    In most cases you can ignore policies. Calling an unauthorized method results
    in an error. Policies are mainly used by the Yonote application to render UI
    controls correctly.
  version: 0.1.0
  contact:
    email: hello@yonote.ru
servers:
  - url: "https://app.yonote.ru/api"
    description: Production
security:
  - http: []
tags:
  - name: Attachments
    description: |
      `Attachments` represent a file uploaded to cloud storage. They are created 
      before the upload happens from the client and store all the meta information
      such as file type, size, and location.
  - name: Auth
    description: |
      `Auth` represents the current API Keys authentication details. It can be 
      used to check that a token is still valid and load the IDs for the current
      user and team.
  - name: Collections
    description: |
      `Collections` represent grouping of documents in the knowledge base, they 
      offer a way to structure information in a nested hierarchy and a level
      at which read and write permissions can be granted to individual users or
      groups of users.
  - name: Comments
    description: |
      `Comments` represents a comment on the document left by users.
  - name: Documents
    description: |
      `Documents` are what everything else revolves around. A document represents
      a single page of information and always returns the latest version of the
      content. Documents are stored in [Markdown](https://spec.commonmark.org/)
      formatting.
  - name: Subscriptions
    description: |
      `Subscriptions` Subscribing to Document Events
  - name: Database
    description: |
      `Databases` are different representations of user data, stored in the Documents entity
  - name: Events
    description: |
      `Events` represent an artifact of an action. Whether it is creating a user,
      editing a document, changing permissions, or any other action – an event
      is created that can be used as an audit trail or activity stream.
  - name: FileOperations
    description: |
      `FileOperations` represent background jobs for importing or exporting files.
      You can query the file operation to find the state of progress and any
      resulting output.
  - name: Groups
    description: |
      `Groups` represent a list of users that logically belong together, for 
      example there might be groups for each department in your organization.
      Groups can be granted access to collections with read or write permissions.
  - name: Integrations
  - name: LDAP
    description: |
      `LDAP` authentication provider, allows you to transfer all users
  - name: Providers
    description: |
      `Providers` Managing custom providers
  - name: Revisions
    description: |
      `Revisions` represent a snapshop of a document at a point in time. They 
      are used to keep tracking of editing and collaboration history – a document
      can also be restored to a previous revision if neccessary.
  - name: Shares
    description: |
      `Shares` represent authorization to view a document without being a member
      of the team. Shares are created in order to give access to documents publicly.
      Each user that shares a document will have a unique share object.
  - name: Sync Blocks
    description: |
      `Sync Blocks` represent a block of text, synchronized between different documents.
  - name: Users
    description: |
      `Users` represent an individual with access to the knowledge base. Users
      are created automatically when signing in with SSO or when a user is
      invited via guest access.
  - name: Views
    description: |
      `Views` represent a compressed record of an individual users views of a
      document. Individual views are not recorded but a first, last and total 
      is kept per user.
paths:
  /attachments.list:
    post:
      tags:
        - Attachments
      summary: List attachments
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  pagination:
                    $ref: "#/components/schemas/Pagination"
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AttachmentInfo"
                  count:
                    type: number
                    example: 1
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /attachments.size:
    post:
      tags:
        - Attachments
      summary: Get attachments size.
      description: Returns sum of attachments size in your team.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  size:
                    type: number
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /attachments.create:
    post:
      tags:
        - Attachments
      summary: Create an attachment
      description: Creating an attachment object creates a database record and returns the inputs needed to generate a signed url and upload the file from the client to cloud storage.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: image.png
                documentId:
                  type: string
                  description: "Identifier for the associated document, if any."
                  format: uuid
                contentType:
                  type: string
                  example: image/png
                size:
                  type: number
                  description: Size of the file attachment in bytes.
              required:
                - name
                - contentType
                - size
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      maxUploadSize:
                        type: number
                      uploadUrl:
                        type: string
                        format: uri
                      form:
                        type: object
                      attachment:
                        $ref: "#/components/schemas/Attachment"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /attachments.redirect:
    post:
      tags:
        - Attachments
      summary: Retrieve an attachment
      description: "Load an attachment from where it is stored based on the id. If the attachment is private then a temporary, signed url with embedded credentials is generated on demand."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for the attachment.
                  format: uuid
              required:
                - id
      responses:
        "302":
          description: The url for the attachment
  /attachments.delete:
    post:
      tags:
        - Attachments
      summary: Delete an attachment
      description: Deleting an attachment is permanant. It will not delete references or links to the attachment that may exist in your documents.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  description: Unique identifier for the attachment.
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /auth.info:
    post:
      tags:
        - Auth
      summary: Retrieve auth
      description: Retrieve authentication details for the current API key
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Auth"
        "401":
          $ref: "#/components/responses/Unauthenticated"
  /auth.config:
    post:
      tags:
        - Auth
      summary: Retrieve auth config
      description: Retrieve authentication options
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        example: MyTeam
                      hostname:
                        type: string
                        example: mydomain.yonote.ru
                      providers:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: slack
                            name:
                              type: string
                              example: Slack
                            authUrl:
                              type: string
                              example: "https://mydomain.yonote.ru/auth/slack"
                            teamDomain:
                              type: string
  /ldap.ping:
    post:
      tags:
        - LDAP
      summary: Retrieve ldap
      description: Connection test
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                certificate:
                  type: string
                  example: user/certificate.pem
                  description: Certificate file (start/tls).
                  format: binary
                base:
                  type: string
                  example: dc=example,dc=org
                  description: Base DN.
                user:
                  type: string
                  example: cn=admin,dc=example,dc=org
                  description: User DN.
                password:
                  type: string
                  description: User password.
                filter:
                  type: string
                  example: (objectClass=inetOrgPerson)
                  description: User search filter.
                hostName:
                  type: string
                  example: example.com
                  description: LDAP host.
                port:
                  type: string
                  example: 35353
                  description: LDAP port.
                ssl:
                  type: boolean
                  example: false
                  description: LEnable ldaps:// protocol
              required:
                - id
                - base
                - user
                - password
                - filter
                - hostName
                - port
                - ssl
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: object
                    properties:
                      connection:
                        type: boolean
                      adminAuth:
                        type: boolean
                      userCount:
                        type: boolean
                  status:
                    type: number
                    example: 200
                  ok:
                    type: boolean

        "401":
          $ref: "#/components/responses/Unauthenticated"
  /ldap.create:
    post:
      tags:
        - LDAP
      summary: Retrieve ldap
      description: Create an LDAP provider
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                certificate:
                  type: string
                  example: user/certificate.pem
                  description: Certificate file (start/tls).
                  format: binary
                base:
                  type: string
                  example: dc=example,dc=org
                  description: Base DN.
                user:
                  type: string
                  example: cn=admin,dc=example,dc=org
                  description: User DN.
                password:
                  type: string
                  description: User password.
                customButtonName:
                  type: string
                  description: Custom login button name.
                filter:
                  type: string
                  example: (objectClass=inetOrgPerson)
                  description: User search filter.
                hostName:
                  type: string
                  example: example.com
                  description: LDAP host.
                port:
                  type: string
                  example: 35353
                  description: LDAP port.
                ssl:
                  type: boolean
                  example: false
                  description: LEnable ldaps:// protocol
              required:
                - id
                - base
                - user
                - password
                - filter
                - hostName
                - port
                - ssl
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      providerId:
                        type: string
                        format: uuid
                  status:
                    type: number
                    example: 200
                  ok:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthenticated"
  /ldap.login:
    post:
      tags:
        - LDAP
      summary: Retrieve ldap
      description: login via LDAP
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
                providerId:
                  type: string
                  format: uuid
              required:
                - email
                - password
                - providerId
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
        "401":
          $ref: "#/components/responses/Unauthenticated"
  /provider.enable:
    post:
      tags:
        - Providers
      summary: Disable providers
      description: Disable and enable providers
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                isActive:
                  type: boolean
                type:
                  type: string
                  description: Provider type.
                  example: "LDAP"
              required:
                - isActive
                - type
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  providerId:
                    type: string
                    format: uuid
                  status:
                    type: number
                    example: 200
                  ok:
                    type: string
                    example: "ok"
        "401":
          $ref: "#/components/responses/Unauthenticated"
  /provider.delete:
    post:
      tags:
        - Providers
      summary: Delete provaders
      description: Delete provaders
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  description: Provider type.
                  example: "LDAP"
              required:
                - type
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  providerId:
                    type: string
                    format: uuid
                  status:
                    type: number
                    example: 200
                  ok:
                    type: string
                    example: "ok"
        "401":
          $ref: "#/components/responses/Unauthenticated"
  /provider.info:
    post:
      tags:
        - Providers
      summary: Returns a list of active providers
      description: Returns a list of active providers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  providerId:
                    type: string
                    format: uuid
                  status:
                    type: number
                    example: 200
                  ok:
                    type: string
                    example: "ok"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /collections.info:
    post:
      tags:
        - Collections
      summary: Retrieve a collection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for the collection.
                  format: uuid
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Collection"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /collections.list:
    post:
      tags:
        - Collections
      summary: List all collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Pagination"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Collection"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /collections.create:
    post:
      tags:
        - Collections
      summary: Create a collection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: Human Resources
                description:
                  type: string
                  example: ""
                color:
                  type: string
                  example: "#123123"
                private:
                  type: boolean
                  example: false
              required:
                - name
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Collection"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /collections.update:
    post:
      tags:
        - Collections
      summary: Update a collection
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                name:
                  type: string
                  example: Human Resources
                description:
                  type: string
                  example: ""
                color:
                  type: string
                  example: "#123123"
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Collection"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /collections.add_user:
    post:
      tags:
        - Collections
      summary: Add a collection user
      description: This method allows you to add a user membership to the specified collection.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                userId:
                  type: string
                  format: uuid
              required:
                - id
                - userId
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          $ref: "#/components/schemas/User"
                      memberships:
                        type: array
                        items:
                          $ref: "#/components/schemas/Membership"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /collections.remove_user:
    post:
      tags:
        - Collections
      summary: Remove a collection user
      description: This method allows you to remove a user from the specified collection.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Identifier for the collection
                  format: uuid
                userId:
                  type: string
                  format: uuid
              required:
                - id
                - userId
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /collections.memberships:
    post:
      tags:
        - Collections
      summary: List all collection memberships
      description: This method allows you to list a collections individual memberships. It's important to note that memberships returned from this endpoint do not include group memberships.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: object
                  properties:
                    id:
                      type: string
                      description: Identifier for the collection
                      format: uuid
                    query:
                      type: string
                      description: Filter memberships by user names
                      example: jenny
                    permission:
                      type: string
                      description: Filter memberships by permissions
                      enum:
                        - read
                        - read_write
                        - maintainer
                  required:
                    - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      users:
                        type: array
                        items:
                          $ref: "#/components/schemas/User"
                      memberships:
                        type: array
                        items:
                          $ref: "#/components/schemas/Membership"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /collections.add_group:
    post:
      tags:
        - Collections
      summary: Add a group to a collection
      description: This method allows you to give all members in a group access to a collection.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                groupId:
                  type: string
                  format: uuid
              required:
                - id
                - groupId
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      collectionGroupMemberships:
                        type: array
                        items:
                          $ref: "#/components/schemas/CollectionGroupMembership"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /collections.remove_group:
    post:
      tags:
        - Collections
      summary: Remove a collection group
      description: This method allows you to revoke all members in a group access to a collection. Note that members of the group may still retain access through other groups or individual memberships.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Identifier for the collection
                  format: uuid
                groupId:
                  type: string
                  format: uuid
              required:
                - id
                - groupId
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /collections.group_memberships:
    post:
      tags:
        - Collections
      summary: List all collection group members
      description: This method allows you to list a collections group memberships. This is the list of groups that have been given access to the collection.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: object
                  properties:
                    id:
                      type: string
                      description: Identifier for the collection
                      format: uuid
                    query:
                      type: string
                      description: Filter memberships by group names
                      example: developers
                    permission:
                      type: string
                      description: Filter memberships by permissions
                      enum:
                        - read
                        - read_write
                        - maintainer
                  required:
                    - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      groups:
                        type: array
                        items:
                          $ref: "#/components/schemas/Group"
                      collectionGroupMemberships:
                        type: array
                        items:
                          $ref: "#/components/schemas/CollectionGroupMembership"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /collections.delete:
    post:
      tags:
        - Collections
      summary: Delete a collection
      description: Delete a collection and all of its documents. This action can’t be undone so please be careful.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /collections.export:
    post:
      tags:
        - Collections
      summary: Export a collection
      description:
        Triggers a bulk export of the collection in markdown format and their attachments. If documents are nested then they will be nested in folders inside the zip file. The endpoint returns a `FileOperation`
        that can be queried to track the progress of the export and get the url for the final file.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      fileOperation:
                        $ref: "#/components/schemas/FileOperation"

        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /collections.export_all:
    post:
      tags:
        - Collections
      summary: Export all collections
      description:
        Triggers a bulk export of all documents in markdown format and their attachments. If documents are nested then they will be nested in folders inside the zip file. The endpoint returns a `FileOperation`
        that can be queried to track the progress of the export and get the url for the final file.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      fileOperation:
                        $ref: "#/components/schemas/FileOperation"

        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /comments.create:
    post:
      tags:
        - Comments
      summary: Create a comment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  enum: [document]
                  description: Type of entity for which the comment will be created.
                  example: document
                entityId:
                  type: string
                  description: Unique identifier of entity for which the comment will be created.
                  format: uuid
                text:
                  type: string
                  description: The content of the comment.
                parentCommentId:
                  type: string
                  description: Unique identifier of comment to reply.
                  format: uuid
              required:
                - entityType
                - entityId
                - text
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /comments.update:
    post:
      tags:
        - Comments
      summary: Update a comment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for comment to be updated.
                  format: uuid
                text:
                  type: string
                  description: The new content of the comment.
              required:
                - id
                - text
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /comments.delete:
    post:
      tags:
        - Comments
      summary: Delete a comment. If target is a root comment, it also deletes all thread comments.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for comment to be deleted.
                  format: uuid
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /comments.list:
    post:
      tags:
        - Comments
      summary: |
        Retrieve comments. `id` or `shareId` must be provided
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: object
                  properties:
                    entityType:
                      type: string
                      enum: [document]
                      description: Type of entity for which comments will be searched.
                      example: document
                    entityId:
                      type: string
                      description: Unique identifier of entity for which comments will be searched.
                      format: uuid
                    shareId:
                      type: string
                      description: Unique identifier of share for which comments will be searched.
                      format: uuid
                    threadId:
                      type: string
                      description: Unique identifier of thread for which comments will be searched. If not defined, returns all comments. If null, returns root comments. If defined, returns comments from thread.
                      format: uuid
                    isResolved:
                      type: boolean
                      description: Filter parameter for comments loader. If `true`, returns only resolved comments. If `false`, returns only unresolved comments. If `undefined`, returns all comments.
                    paranoid:
                      type: boolean
                      default: false
                      description: Filter parameter for comments loader. If `true`, returns only non-deleted comments. If `false`, returns all comments.
              required:
                - entityType
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  comments:
                    type: array
                    items:
                      $ref: "#/components/schemas/Comment"
                  count:
                    type: number
                    description: Total count of comments which satisfies query.
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /comments.resolve:
    post:
      tags:
        - Comments
      summary: Resolve/unresolve a comment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  description: Unique identifier for the comment to be resolved/unresolved. Only root comments allowed.
                isResolved:
                  type: boolean
                  description: If `true`, marks comment as resolved. If `false`, marks comment as unresolved.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Comment"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /comments.info:
    post:
      tags:
        - Comments
      summary: Retrieve a single comment
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  description: Unique identifier for the comment.
                paranoid:
                  type: boolean
                  default: true
                  description: Filter parameter for comments loader. If `true`, returns only non-deleted comments. If `false`, returns all comments.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                   $ref: "#/components/schemas/Comment"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /comments.thread:
    post:
      tags:
        - Comments
      summary: Retrieve a root comment with all its thread comments
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: Unique identifier for the comment.
                    paranoid:
                      type: boolean
                      default: false
                      description: Filter parameter for comments loader. If `true`, returns only non-deleted comments. If `false`, returns all comments.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    allOf:
                     - $ref: "#/components/schemas/Comment"
                     - description: Model of the root comment.
                  thread:
                    type: array
                    description: Paginated list of thread comments.
                    items:
                      $ref: "#/components/schemas/Comment"
                  count:
                    type: number
                    description: Total count of thread comments.
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.info:
    post:
      tags:
        - Documents
      summary: Retrieve a document
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
                shareId:
                  type: string
                  format: uuid
                  description: "Unique identifier for a document share, a shareId may be used in place of a document UUID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.import:
    post:
      tags:
        - Documents
      summary: Import a file as a document
      description: This method allows you to create a new document by importing an existing file. By default a document is set to the collection root. If you want to create a nested/child document, you should pass parentDocumentId to set the parent document.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: object
                  description: Only plain text, markdown, docx, and html format are supported.
                collectionId:
                  type: string
                  format: uuid
                parentDocumentId:
                  type: string
                  format: uuid
                template:
                  type: boolean
                publish:
                  type: boolean
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.export:
    post:
      tags:
        - Documents
      summary: Export a document as markdown
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
                shareId:
                  type: string
                  format: uuid
                  description: "Unique identifier for a document share, a shareId may be used in place of a document UUID"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: string
                    description: The document content in Markdown formatting
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.list:
    post:
      tags:
        - Documents
      summary: List all documents
      description: This method will list all published documents and draft documents belonging to the current user.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - $ref: "#/components/schemas/Sorting"
                - type: object
                  properties:
                    collectionId:
                      type: string
                      format: uuid
                      description: Optionally filter to a specific collection
                    userId:
                      type: string
                      format: uuid
                    backlinkDocumentId:
                      type: string
                      format: uuid
                    parentDocumentId:
                      type: string
                      format: uuid
                    template:
                      type: boolean
                      description: Optionally filter to only templates
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /documents.drafts:
    post:
      tags:
        - Documents
      summary: List all draft documents
      description: This method will list all draft documents belonging to the current user.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - $ref: "#/components/schemas/Sorting"
                - type: object
                  properties:
                    collectionId:
                      type: string
                      description: A collection to search within
                      format: uuid
                    dateFilter:
                      type: string
                      description: Any documents that have not been updated within the specified period will be filtered out
                      example: month
                      enum:
                        - day
                        - week
                        - month
                        - year
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /documents.viewed:
    post:
      tags:
        - Documents
      summary: List all recently viewed documents
      description: This method will list all documents recently viewed by the current user.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - $ref: "#/components/schemas/Sorting"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /documents.starred:
    post:
      tags:
        - Documents
      summary: List all starred documents
      description: This method will list all documents starred by the current user.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - $ref: "#/components/schemas/Sorting"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /documents.pinned:
    post:
      tags:
        - Documents
      summary: List all pinned documents
      description: This method will list all documents pinned in a collection.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - $ref: "#/components/schemas/Sorting"
                - type: object
                  properties:
                    collectionId:
                      type: string
                      format: uuid
                  required:
                    - collectionId
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /documents.search_titles:
    post:
      tags:
        - Documents
      summary: Search documents by titles
      description: This methods allows you to search your teams documents with keywords by titles. Note that search results will be restricted to those accessible by the current access token.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: object
                  properties:
                    query:
                      type: string
                      example: hiring
                    isPublished:
                      type: boolean
                      description: If true, returns only published documents. If false, returns only unpublished documents. If unset, returns all documents.
                      example: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /documents.search:
    post:
      tags:
        - Documents
      summary: Search all documents
      description: This methods allows you to search your teams documents with keywords. Note that search results will be restricted to those accessible by the current access token.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - type: object
                  properties:
                    query:
                      type: string
                      example: hiring
                    userId:
                      type: string
                      description: Any documents that have not been edited by the user identifier will be filtered out
                      format: uuid
                    collectionId:
                      type: string
                      description: A collection to search within
                      format: uuid
                    includeArchived:
                      type: boolean
                    includeDrafts:
                      type: boolean
                    dateFilter:
                      type: string
                      description: Any documents that have not been updated within the specified period will be filtered out
                      example: month
                      enum:
                        - day
                        - week
                        - month
                        - year
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        context:
                          type: string
                          description: A short snippet of context from the document that includes the search query.
                          example: At Acme Inc our hiring practices are inclusive
                        ranking:
                          type: number
                          description: The ranking used to order search results based on relevance.
                          format: float
                          example: 1.1844109
                        document:
                          $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /documents.create:
    post:
      tags:
        - Documents
      summary: Create a document
      description: "This method allows you to create or publish a new document. By default a document is set to the collection root. If you want to create a nested/child document, you should pass parentDocumentId to set the parent document."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: Welcome to Acme Inc
                text:
                  type: string
                  description: "The body of the document, may contain markdown formatting."
                  example: …
                collectionId:
                  type: string
                  format: uuid
                parentDocumentId:
                  type: string
                  format: uuid
                templateId:
                  type: string
                  format: uuid
                template:
                  type: boolean
                  description: Whether this document should be considered to be a template.
                publish:
                  type: boolean
                  description: Whether this document should be immediately published and made visible to other team members.
              required:
                - title
                - collectionId
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /documents.update:
    post:
      tags:
        - Documents
      summary: Update a document
      description: This method allows you to modify an already created document
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
                title:
                  type: string
                  description: The title of the document.
                text:
                  type: string
                  description: "The body of the document, may contain markdown formatting."
                  example: …
                append:
                  type: boolean
                  description: "If true the text field will be appended to the end of the existing document, rather than the default behavior of replacing it. This is potentially useful for things like logging into a document."
                publish:
                  type: boolean
                  description: "Whether this document should be published and made visible to other team members, if a draft"
                done:
                  type: boolean
                  description: "Whether the editing session has finished, this will trigger any notifications. This property will soon be deprecated."
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.templatize:
    post:
      tags:
        - Documents
      summary: Create a template from a document
      description: "This method allows you to createa new template using an existing document as the basis"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /documents.star:
    post:
      tags:
        - Documents
      summary: Star a document
      description: Starring a document gives it extra priority in the UI and makes it easier to find important information later.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.unstar:
    post:
      tags:
        - Documents
      summary: Unstar a document
      description: Starring a document gives it extra priority in the UI and makes it easier to find important information later.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.pin:
    post:
      tags:
        - Documents
      summary: Pin a document
      description: Pinning a document highlights it on the collection page for everyone on the team.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.unpin:
    post:
      tags:
        - Documents
      summary: Unpin a document
      description: Pinning a document highlights it on the collection page for everyone on the team.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.unpublish:
    post:
      tags:
        - Documents
      summary: Unpublish a document
      description: Unpublishing a document moves it back to a draft status and out of the collection.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.move:
    post:
      tags:
        - Documents
      summary: Move a document
      description: "Move a document to a new location or collection. If no parent document is provided, the document will be moved to the collection root."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
                collectionId:
                  type: string
                  format: uuid
                parentDocumentId:
                  type: string
                  format: uuid
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      documents:
                        type: array
                        items:
                          $ref: "#/components/schemas/Document"
                      collections:
                        type: array
                        items:
                          $ref: "#/components/schemas/Collection"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.archive:
    post:
      tags:
        - Documents
      summary: Archive a document
      description: Archiving a document allows outdated information to be moved out of sight whilst retaining the ability to optionally search and restore it later.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.restore:
    post:
      tags:
        - Documents
      summary: Restore a document
      description: "If a document has been archived or deleted, it can be restored. Optionally a revision can be passed to restore the document to a previous point in time."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
                revisionId:
                  type: string
                  format: uuid
                  description: Identifier for the revision to restore to.
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.delete:
    post:
      tags:
        - Documents
      summary: Delete a document
      description: Deleting a document moves it to the trash. If not restored within 30 days it is permenantly deleted.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: hDYep1TPAM
                  description: Unique identifier for the document. Either the UUID or the urlId is acceptable.
                permanent:
                  type: boolean
                  example: false
                  description: If set to true the document will be destroyed with no way to recover rather than moved to the trash.
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /documents.copy:
    post:
      tags:
        - Documents
      summary: Copy a document
      description: Copy a public document to a target collection.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                targetCollectionId:
                  type: string
                  example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  description: Target collection id. Either the UUID or the urlId is acceptable.
                shareId:
                  type: string
                  example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                  description: Unique identifier for the share.
                  format: uuid
              required:
                - targetCollectionId
                - shareId
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /subscriptions.create:
    post:
      tags:
        - Subscriptions
      summary: Create subscription
      description: Creates a subscription to a document
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                documentId:
                  type: string
                  example: 1fb7fa75-c85c-4fa1-8393-d88676c2c0e8
                event:
                  type: string
                  enum: [document.update]
                  description: Selecting an event subscription
              required:
                - documentId
                - event
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1fb7fa75-c85c-4fa1-8393-d88676c2c0e8
                      userId:
                        type: string
                        example: 1fb7fa75-c85c-4fa1-8393-d88676c2c0e8
                      documentId:
                        type: string
                        example: 1fb7fa75-c85c-4fa1-8393-d88676c2c0e8
                      event:
                        type: string
                        example: documents.update
                      createdAt:
                        type: string
                        example: 2022-11-29T10:25:33.175Z
                      updatedAt:
                        type: string
                        example: 2022-11-29T10:25:33.175Z
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /subscriptions.info:
    post:
      tags:
        - Subscriptions
      summary: Subscriptions info
      description: Get subscription information
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                documentId:
                  type: string
                  example: 1fb7fa75-c85c-4fa1-8393-d88676c2c0e8
                event:
                  type: string
                  enum: [document.update]
                  description: Selecting an event subscription
              required:
                - documentId
                - event
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: 1fb7fa75-c85c-4fa1-8393-d88676c2c0e8
                      userId:
                        type: string
                        example: 1fb7fa75-c85c-4fa1-8393-d88676c2c0e8
                      documentId:
                        type: string
                        example: 1fb7fa75-c85c-4fa1-8393-d88676c2c0e8
                      event:
                        type: string
                        example: documents.update
                      createdAt:
                        type: string
                        example: 2022-11-29T10:25:33.175Z
                      updatedAt:
                        type: string
                        example: 2022-11-29T10:25:33.175Z
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /subscriptions.delete:
    post:
      tags:
        - Subscriptions
      summary: Subscriptions delete
      description: Delete a subscription to a document
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: 1fb7fa75-c85c-4fa1-8393-d88676c2c0e8
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: number
                    example: 200
                  ok:
                    type: boolean
                    example: true
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /syncBlocks.create:
    post:
      tags:
        - Sync Blocks
      summary: Create a sync block.
      description: Create one or many sync blocks for a document.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                documentId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SyncBlock"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /syncBlocks.delete:
    post:
      tags:
        - Sync Blocks
      summary: Delete a sync block.
      description: Delete one or many sync blocks from a document.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  items:
                    type: string
                    format: uuid
                documentId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SyncBlockDeleteResponse"
        "400":
          $ref: "#/components/responses/Validation"
        "404":
          $ref: "#/components/responses/NotFound"
  /syncBlocks.list:
    post:
      tags:
        - Sync Blocks
      summary: Retrieve a list of sync blocks in document
      description: Get a list of sync blocks that are inserted in selected document.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                documentId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SyncBlock"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /syncBlocks.list_inserts:
    post:
      tags:
        - Sync Blocks
      summary: Retrieve a list of documents where selected sync block was inserted.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                syncBlockId:
                  type: string
                  format: uuid
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/DocumentSyncBlock"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /database.rows.list:
    post:
      tags:
        - Database
      summary: Get database rows,
      description: Get database rows, sorting, and filtering database rows.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filter:
                  description: Required parameter for filtering.
                  type: array
                  items:
                    properties:
                      filterValue:
                        oneOf:
                          - type: string
                            example: 24
                            description: Search value (for example, part of a word).
                          - type: array
                            items:
                              type: string
                              example: [24, 38]
                              description: Search range between.
                      filterOperation:
                        type: string
                        enum: [IsEquals, IsNotEqual, StartsWith, EndsWith, Contains, NotContains, IsNotNull, IsNull, Greater, Less, Between]
                        description: Comparison operator.
                      filterPropertyId:
                        type: string
                        example: 08da298e-4fd6-46ef-b08a-5922756fe2d2
                        description: Id of the column to filter by
                propertyType:
                  type: string
                  example: number
                  description: Optional parameter, if the filtered column uses a data type, then you must pass "numder" for correct sorting (Required parameter for filtering)
                parentDocumentId:
                  type: string
                  example: bc977f42-103d-4461-8a79-6997a7764a4a
                  description: Parent document id with database type
                orderBy:
                  type: string
                  example: bc977f42-103d-4461-8a79-6997a7764a4a
                  description: Id of the column to sort by
                direction:
                  type: string
                  enum: [ASC, DESC]
              required:
                - parentDocumentId
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/Document"
                  policies:
                    type: array
                    items:
                      $ref: "#/components/schemas/Policy"
        "400":
          $ref: "#/components/responses/Validation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /events.list:
    post:
      tags:
        - Events
      summary: List all events
      description: Events are an audit trail of important events that happen in the knowledge base.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - $ref: "#/components/schemas/Pagination"
                - $ref: "#/components/schemas/Sorting"
                - type: object
                  properties:
                    name:
                      type: string
                      description: Filter to a specific event, e.g. "collections.create". Event names are in the format "objects.verb"
                    actorId:
                      type: string
                      format: uuid
                      description: Filter to events performed by the selected user
                    documentId:
                      type: string
                      format: uuid
                      description: Filter to events performed in the selected document
                    collectionId:
                      type: string
                      format: uuid
                      description: Filter to events performed in the selected collection
                    auditLog:
                      type: boolean
                      description: Whether to return detailed events suitable for an audit log. Without this flag less detailed event types will be returned.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Event"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
  /fileOperations.info:
    post:
      tags:
        - FileOperations
      summary: Retrieve a file operation
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for the file operation.
                  format: uuid
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FileOperation"
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
  /fileOperations.redirect:
    post:
      tags:
        - FileOperations
      summary: Retrieve the file
      description: Load the resulting file from where it is stored based on the id. A temporary, signed url with embedded credentials is generated on demand.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: Unique identifier for the file operation.
                  format: uuid
              required:
                - id
      responses:
        "200":
          description: OK
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Unauthenticated"
        "403":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
[...]
